@media screen and (max-width: 768px) {

  /* Landing Page and Global Styles */
  .player-header-nav.navbar {
    .navbar-nav {
      li {
        text-align: center;
      }
    }
  }

  .hero-slider {
    max-width: 100%;
    padding: 25px 0 100px 0;

    h1{
      font-size: 3.5em;
    }

    h2 {
      font-size: 1.75em;
    }

    h3 {
      font-size: 1em;
    }
  }

  .landing-album-list {
    /* Example class added to style the album covers for mobile */
    .album-cover {
      position: relative;
      left: calc(50% - 200px);
    }
  }

  /* Collection View */

  .collection-album-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 280px; /* Width of the album image. */
  }

  /*Player Bar*/
  .player-bar {

    .play-controls {
      font-size: 1em;
    }

    .container {
      display: block;
    }

    .left-controls {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      padding-bottom: 2.5em;
      padding-top: 1em;
    }

    .currently-playing {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }

  }



}