@media (max-width: 800px) {

  /* Landing Page and Global Styles */
  .player-header-nav.navbar {
    .navbar-nav {
      li {
        text-align: center;
      }
    }
  }

  .hero-slider {
    max-width: 100%;
    padding: 25px 0 100px 0;
  }

  .photo-slider-lg {
    display: none;
  }

  .photo-slider-sm {
    display: block;
  }

  .landing-album-list {
    /* Example class added to style the album covers for mobile */
    .album-cover {
      position: relative;
      left: calc(50% - 200px);
    }

    .flipper {
      display: block;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }

  }

  .mobile-menu {
    button {
      position: absolute;
      right: 5%;
      top: 10%;
      background-color: #715596;
      color: #fff;
    }
  }

  /* Collection View */

  .collection-album-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 280px; /* Width of the album image. */
  }

  /*Player Bar*/
  .player-bar {

    .play-controls {
      font-size: 1em;
    }

    .container {
      display: block;
    }

    .left-controls {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      padding-bottom: 2.5em;
      padding-top: 1em;
    }

    .currently-playing {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;

      .song-name {
        top: -30px;
      }
    }

    .artist-name {
      top: 20px;
    }



  }



}